* {
    box-sizing: border-box;
    margin: 0;
  }

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

::placeholder {
    color: black;
}

.input{
    background-color: yellowgreen;
     width: 100%;
     padding: 20px;
     font-size: 24px;
     border: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
     border-radius: 5px;
 }

.container {
    background-color: black;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 40px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    height: 50px;
}

.button.operator {
    color: blue;
}

button {
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    transition: background-color 0.5s ease-in-out;
    font-weight: bold;
}

@media screen and (max-width: 1024px) { 
}